# Pandas Exercises

Assigments for Pandas skills

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [1]:
import pandas as pd

In [2]:
banks=pd.read_csv('banklist.csv')

** Show the head of the dataframe **

In [3]:
# CODE HERE

In [4]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [5]:
# CODE HERE

In [6]:
banks.columns.values

array(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'], dtype=object)

** How many States (ST) are represented in this data set? **

In [7]:
# CODE HERE

In [8]:
len(banks.loc[:,'ST'].unique())

44

** Get a list or array of all the states in the data set. **

In [9]:
# CODE HERE

In [10]:
banks.loc[:,'ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

** What are the top 5 states with the most failed banks? **

In [11]:
# CODE HERE

In [12]:
banks.groupby('ST')['Bank Name'].count().sort_values(ascending=False).head()

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: Bank Name, dtype: int64

** What are the top 5 acquiring institutions? **

In [13]:
# CODE HERE, check whether to include non-acquired

In [14]:
banks['Acquiring Institution'].value_counts().head()

No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: Acquiring Institution, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [15]:
# CODE HERE

In [16]:
print('Banks occupied by the State Bank of Texas:')
banks.loc[banks['Acquiring Institution']=='State Bank of Texas']

Banks occupied by the State Bank of Texas:

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [17]:
df=banks.loc[(banks['Acquiring Institution']=='State Bank of Texas') & (banks['ST']=='TX')]
print('The number of Banks occupied by State Bank of Texas actually in Texas: ',len(df))
df

The number of Banks occupied by State Bank of Texas actually in Texas:  1

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

** What is the most common city in California for a bank to fail in?**

In [18]:
# CODE HERE

In [38]:
df=banks.loc[banks['ST']=='CA'].groupby('City').count()
print('Cities with maximum number if failed banks in California: ')
df.loc[max(df['Bank Name'])==df['Bank Name']]

Cities with maximum number if failed banks in California:

,Bank Name,ST,CERT,Acquiring Institution,Closing Date,Updated Date
City,,,,,,
Los Angeles,4,4,4,4,4,4

** How many failed banks don't have the word "Bank" in their name? **

In [20]:
# CODE HERE  This should be doine properly, wrong answer

In [21]:
count=0
for name in banks['Bank Name']:
    if not(name.__contains__('Bank')):
        count+=1

In [22]:
print('number of failed banks dont have the word Bank in their name: ',count)

number of failed banks dont have the word Bank in their name:  14

** How many bank names start with the letter 's' ? **

In [23]:
# CODE HERE

In [24]:
count=0
for i in range(len(banks)):
    if banks.iloc[i]['Bank Name'][0]=='S':
        count+=1

In [25]:
count

53

** How many CERT values are above 20000 ? **

In [26]:
# CODE HERE

In [27]:
banks.loc[banks['CERT']>20000].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16

In [28]:
print('number of banks with CERT values above 20000: ',len(banks.loc[banks['CERT']>20000]))

number of banks with CERT values above 20000:  417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [29]:
# CODE HERE

In [30]:
count=0
for i in range(len(banks)):
    if len(banks.iloc[i]['Bank Name'].split())==2:
        count+=1

In [31]:
print('number of banks consist of just 2 words: ',count)

number of banks consist of just 2 words:  114

**Bonus: How many banks closed in the year 2008? (this is hard because we technically haven't learned about time series with pandas yet! Feel free to skip this one!**

In [32]:
# CODE HERE

In [33]:
import datetime

In [34]:
def convert_to_datetime(string):
    return datetime.datetime.strptime(string,'%d-%b-%y').year

In [35]:
banks['Closing Date']=banks['Closing Date'].apply(convert_to_datetime)

In [36]:
print("number of banks closed in 2008: ",len(banks.loc[banks['Closing Date']==2008]))

number of banks closed in 2008:  25